@{
    ViewData["Title"] = "Bài tập thực hành Lab01";
}

<div class="text-center">
    <h1 class="display-4">Thông tin sinh viên</h1>
    <p> Họ và Tên: Vũ Đức Long   |   Mã sinh viên: 231230830
    </p>
</div>
